

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
    font-size: 16px;
}

.color1{
    background-color: #ff5f11;
}
.color2{
    background-color: #11ffff;
}

.color3{
    background-color: #77ff55;
}

.color4{
    background-color: #ffa177
}

.l_color1{
    color: #ff5f11;
}

.l_color2{
    color: #11ffff;
}

.l_color3{
    color: #77ff55;
}

.l_color4{
    color: #ffa177;
}



.nav{
    color: rgb(0,0,0);
    text-decoration: none;
    /*background-color: rgb(133,40,25);*/
}

.app{
    font-size: 50px;
}









