{% extends "base/base.html" %}

{% block menu_extra%}
    <li><a href="/login">Log In</a></li>
{% endblock %}

{% block content%}
	<section id="One" class="wrapper style3">
		<div class="inner">
			<header class="align-center">
				<h2>Sign Up</h2>
			</header>
		</div>
	</section>
	<section id="two" class="wrapper style2">
		<div class="inner">
			<div class="box">
				<div class="content">
					<header class="align-center">
						<!--p>Log In</p-->
						<h2>Sign Up</h2>
					</header>
					{% from "_macro.html" import render_signUp %}
						<form method="POST">
							<div class="row uniform">
								<div class="4u 12u$(xsmall)">
								</div>
								<div class="4u 12u$(xsmall)" align="center">
									{{ render_signUp(form.user, placeholder="User") }}
									{{ render_signUp(form.name, placeholder="Nombre y Apellido") }}
									{{ render_signUp(form.email, placeholder="Email") }}
									{{ render_signUp(form.password, placeholder="Password") }}
									{{ render_signUp(form.password_repetir, placeholder="Confirm Password") }}
										{% with messages = get_flashed_messages() %}
							                {% if messages %}
							                    {% for mensaje in messages %}
							                            {{ mensaje }}
							                    {% endfor %}
							                {% endif %}
							            {% endwith %}
								</div>
								<div class="4u 12u$(xsmall)">
								</div>
								<div class="12u$" align="center">
									<input type="submit" name="enviar" value="Register" class="alt" />
								</div>
							</div>
						</form>
					<p></p>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
